@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700;800&display=swap');

/* Declare variables (for colors) */
:root {
  --bg-primary: #0F0039; /* Page background color */
  --bg-nav: #0f0039b2;
  --button: #7a20bf;
  --button-hover: #9938e3;
}

/* Reset stypes */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set default font-family */
body {
  font-family: Manrope, sans-serif;
}

/* Navbar background color */
.nb-background-color {
  background-color: var(--bg-nav);
  backdrop-filter: blur(8px);
}

.nbMenuItem {
  font-size: 1.1rem;
  margin-left: 10px;
}

.nav-btn {
  margin-left: 20px;
}

.signup {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  padding: 5px 15px;
  border-radius: 18px;
}

/* Hero section in the landing page */
.hero {
  background-color: var(--bg-primary);
  padding: 8rem 0 6rem;
}

/* Text gradient and font size */
.hero h1 {
  font-size: 4rem;
  font-weight: 800;
  background: linear-gradient(to right, #FA00FF 0%, #4A52FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: -2px;
}

.description {
  width: 100%;
  font-size: 1.05rem;
  color: rgba(255, 255, 255, 0.6);
}

.lofi_anime{
  background-image: url('img/background/lofi_anime.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.image-credit {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: #b464cc; /* Change this to the desired text color */
  text-decoration: none;
}

.audio-player-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-nav);
  padding:5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-btn {
  background-color: var(--button);
  color: #fff; /* Button text color */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-btn:hover {
  background-color: var(--button-hover);
}

.song-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.3s 0.2s, transform 0.3s 0.2s;
  position: absolute;
  bottom: 40px;
  background-color:var(--button); /* Background color with 80% opacity */
  padding: 5px; /* Add padding for better visibility */
}

#song{
  color:white;
  font-size:10px;
  text-align: left;
}
#artist{
  color:rgb(147, 147, 147);
  font-size:9px;
  text-align: left;
}


.audio-player-container:hover .song-info-container {
  opacity: 1;
  transform: translateY(-10px);
}


.slider {
  width: 100%;
  accent-color:var(--button);
}

#changeThemeBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* Additional styles for the button (optional) */
  background-color: #007bff; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Button padding */
  cursor: pointer; /* Set cursor to pointer on hover */
}