@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

/* Declare variables (for colors) */
:root {
  --bg-primary: #0F0039; /* Page background color */
  --bg-nav: #0f0039b2;
  --bg-accent: white;
}

/* Reset stypes */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set default font-family */
body {
  font-family: "DM Sans", sans-serif !important;
}

/* Navbar background color */
.nb-background-color {
  background-color: var(--bg-nav);
  backdrop-filter: blur(20px);
}

.nbMenuItem {
  font-size: 1.1rem;
  margin-left: 10px;
}

.nav-btn {
  margin-left: 20px;
}

.signup {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  padding: 5px 15px;
  border-radius: 18px;
}

/* Hero section in the landing page */
.hero {
  background-color: var(--bg-primary);
  padding: 8rem 0 6rem;
}

.hero-color{
  background-color: var(--bg-primary);
}

/* Text gradient and font size */
.hero h1 {
  font-size: 3.5rem;
  font-weight: 800;
  background: linear-gradient(to right, #FA00FF 0%, #4A52FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.description {
  width: 100%;
  font-size: 1.05rem;
  color: rgba(255, 255, 255, 0.6);
}

.city{
  background-image: url('img/city.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}


/* Overriding Bootstrap styles */
.container {
  padding: 0 1rem;
}

.ghost-btn {
  padding: 0.375rem 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}

/* .ghost-btn */
